.start-page-wrapper {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.start-page-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}
.start-page-wrapper a {
  text-align: center;
  background-color: #464a4e;
  color: white;
  width: 600px;
  height: 50px;
  border-radius: 15px;
  padding: 12px;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.content-wrapper h2 {
  color: white;
}
.select {
  text-align: center;
  background-color: #464a4e;
  color: white;
  width: 600px;
  height: 50px;
  border-radius: 15px;
  text-transform: capitalize;
}
@media (max-width: 900px) {
  .start-page-content-wrapper {
    margin-bottom: 200px;
  }
}

@media (max-width: 620px) {
  .start-page-content-wrapper {
    max-width: 300px;
    margin-bottom: 200px;
  }
}
@media (max-width: 390px) {
  .start-page-content-wrapper {
    max-width: 300px;
    margin-bottom: 300px;
  }
}
